<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Plat</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form method="post" class="space-y-5n w-1/2 flex flex-col" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
          <div>
            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
              {{ field.label }}
            </label>
            {{ field }}
            {% if field.errors %}
              <p class="text-red-500 text-sm mt-1">{{ field.errors.0 }}</p>
            {% endif %}
          </div>
        {% endfor %}

        <button type="submit"
                class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md transition duration-200">
          S'inscrire
        </button>
    </form>

</body>
</html>