<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form class="form" method="post" action="">
        <div class="">
            <label for="prenom" class="">Prenom</label><input type="text" id="prenom" name="prenom" class="">
            <label for="nom" class="">Nom</label><input type="text" id="nom" name="nom" class="">
            <label for="mail" class="">Mail</label><input type="text" id="mail" name="mail" class="">
            <label for="date_de_nais" class="">Date de naissance</label><input type="text" id="date_de_nais" name="date_de_nais" class="">
        </div>
    </form>
    
</body>
</html>